@charset "utf-8";

/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background-color: #1B1B1B;
}

.full-width{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.full-width span {
	display: block;
	align-items: center;
	justify-content: center;
	font-family: monospace;
	white-space: nowrap;
	border-right: 4px solid;
	width: 28ch;
	font-size: 5vw;
	color: #C4FFB2;

	animation: typing 3s steps(28), blink .5s infinite step-end alternate;
	overflow:hidden;
}

@keyframes typing {
	from { width: 0}
}

@keyframes blink {
	50% { border-color: transparent}
}

nav{
	color: #C4FFB2;
	padding:10px;
	display: flex;
	justify-content: flex-end;
	opacity: 0;
	animation: fadeIn 3s forwards;
}

@keyframes fadeIn{
	from {opacity:0;}
	to {opacity:1;}
}

nav ul{
	list-style: none;
	display: flex;
	margin:20px;
	padding: 0;
}

nav ul li{
	margin-left: 30px;
	border-right: 1px solid #C4FFB2;
	padding-right: 30px;
}

nav ul li:last-child {
	border-right:none;
	padding-right:0;
}

nav ul li a{
	text-decoration: none;
	color: #C4FFB2;
	font-family: monospace;
	font-size: 15px;
}