
#contenedor{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
}

#presentacionIzq{
    color: white;
    position: absolute;
    top: 130px;
    right: 50%;
    left: 0%;
    height: 40px;
    background-color: red;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    border-top-right-radius: 20px;
}

#presentacionDer{
    color: white;
    position: absolute;
    top: 130px;
    left: 50%;
    right: 0%;
    height: 40px;
    background-color: green;
    /*border-radius: 10px 0 0 10px;*/
}